:root {
    --bg: hsl(0, 0%, 11%);
    --note-btn-bg: hsl(0, 0%, 30%);
    --note-btn-border-col: hsl(0, 0%, 37%);
    --note-btn-bg-hover: hsl(0, 0%, 42%);
    --note-btn-active-bg: hsl(120, 50%, 30%);
    --note-btn-active-border-col: hsl(120, 50%, 37%);
    --note-btn-size: 100px;
    --note-btn-gap: 10px;
}

body {
    background-color: var(--bg);
    font-family: sans-serif;
    display: flex;
    height: 100vh;
    margin: 0;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#note_grid {
    display: flex;
    flex-direction: column;
    gap: var(--note-btn-gap);
    width: var(--note-btn-size * 4 + --note-btn-gap * 3);
}

#note_grid,
.note-btn {
    color: ivory;
    background-color: var(--bg);
}

.row {
    display: flex;
    gap: var(--note-btn-gap);
}

.align-left,
.align-right {
    flex: none;
}

.align-left {
    justify-content: flex-start;
}

.align-right {
    justify-content: flex-end;
}

.note-btn {
    font-size: 32px;
    font-weight: 700;
    background-color: var(--note-btn-bg);
    height: var(--note-btn-size);
    width: var(--note-btn-size);
    border: 4px solid var(--note-btn-border-col);
    border-radius: 20px;
}

.note-btn:not(.active-note):hover {
    background-color: var(--note-btn-bg-hover);
}

.note-btn.active-note {
    background-color: var(--note-btn-active-bg);
    border-color: var(--note-btn-active-border-col);
}
