:root {
    --main-color: ivory;
    --secondary-color: gainsboro;

    --bg: hsl(0, 0%, 11%);

    --btn-bg: hsl(0, 0%, 28%);
    --btn-bg-hover: hsl(0, 0%, 34%);
    --btn-bg-disabled: var(--bg);
    --btn-border-col: hsl(0, 0%, 37%);

    --note-btn-active-bg: hsl(120, 50%, 28%);
    --note-btn-active-bg-hover: hsl(120, 50%, 34%);
    --note-btn-active-border-col: hsl(120, 50%, 37%);

    --note-btn-size: min((100/450)*100vw, 100px);
    --note-btn-gap: min((10/450)*100vw, 10px);

    --pitch-btn-size: 50px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
    touch-action: none;
}

html {
    display: flex;
    flex-direction: column;
    height: 100%;
}

body {
    overscroll-behavior: none;
}

body {
    color: var(--main-color);
    background-color: var(--bg);
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 700;
    height: 100%;
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#app-layout {
    position: relative;
}

#open-settings {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 100;
    cursor: pointer;
}

button {
    color: var(--main-color);
    background-color: var(--btn-bg);
    border: 4px solid var(--btn-border-col);
}

button:hover {
    background-color: var(--btn-bg-hover);
}

#note-grid {
    display: flex;
    flex-direction: column;
    gap: var(--note-btn-gap);
    width: var(--note-btn-size * 4 + --note-btn-gap * 3);
}

.note-row{
    display: flex;
    gap: var(--note-btn-gap);
}

.align-left,
.align-right {
    flex: none;
}
.align-left { justify-content: flex-start; }
.align-right { justify-content: flex-end; }

.note-btn {
    font-size: 32px;
    font-weight: 700;
    height: var(--note-btn-size);
    width: var(--note-btn-size);
    border-radius: 20px;
}

.note-btn.no-audio-available,
.note-btn.no-audio-available:hover,
.pitch-btn:disabled,
.pitch-btn:disabled:hover {
    color: grey;
    background-color: var(--note-btn-bg-disabled);
}

.note-btn.active-note,
.note-btn.active-note:hover {
    background-color: var(--note-btn-active-bg);
    border-color: var(--note-btn-active-border-col);
}

.note-btn.active-note:hover {
    background-color: var(--note-btn-active-bg-hover);
}

#pitch-control {
    font-size: 28px;
    font-weight: 600;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
}

.pitch-btn {
    font-size: 32px;
    font-weight: 700;
    height: var(--pitch-btn-size);
    width: var(--pitch-btn-size);
    border-radius: 10px;
}

#pitch-shift {
    width: 90px;
    text-align: center;
}

.settings-btn {
    color: var(--secondary-color);
    font-size: 32px;
    background: var(--bg);
    border: none;
}

.settings-btn:hover {
    color: var(--main-color);
    background-color: var(--bg);
}

#settings-panel {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    max-width: 80%;
    height: 100%;
    background: var(--bg);
    font-size: 18px;

    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1001;
}

#settings-panel.open {
    transform: translateX(0);
}

#settings-header {
    display: flex;
    align-items: center;
    justify-content: right;
    padding-top: 19px;
    padding-right: 17px;
    background: var(--bg);
}

#settings-content {
    padding: 20px;
}

#settings-content p {
    font-weight: 300;
    padding: 20px;
}

#settings-panel h2 {
    padding: 10px;
}

#close-settings {
    font-size: 40px;
}

#settings-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(3px);
  z-index: 1000;
}

.settings-section {
    display: flex;
    flex-direction: column;
}

.radio {
    display: flex;
    flex-direction: row;
    align-items: centre;
    padding: 5px 10px 5px 10px;
}

.radio label {
    padding-left: 14px;
}
